# قاعدة بيانات المشتركين (IDs, IPs, Subscriptions)
*.db
*.sqlite3

# ملفات الإعدادات السرية والباسوردات
.env
config.py

# ملفات بايثون المؤقتة (لا داعي لرفعها)
__pycache__/
*.pyc
*.pyo
*.pyd

# مجلدات البيئة الافتراضية
venv/
env/

# ملفات النظام المؤقتة
.DS_Store
thumbs.db

# مجلد الملفات المرفوعة (حتى لا ترفع ملفات تجاربك الشخصية)
uploads/
